{% extends 'base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <p class="bs-component">
            <center>
                <input class="btn btn-success btn-sm" onclick="location.href = '/connect4/games/';"type="submit" value="Back to Games Page" />
            </center>
        </p>
    {% endif %}
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading" style="font-weight: 700">You are in game #{{ game.id }}</div>
                {% if request.user.id == game.player1.id %}
                    <p><b>Your color</b>: <div class="circle_red"></div></p>
                {% else %}
                    <p><b>Your color</b>: <div class="circle_yellow"></div></p>
                {% endif %}

                <p><b>Players</b>: {{ game.player1.username }} vs. {{ game.player2.username }}</p>
                <p><b>Game status</b>: {{ game.status }}</p>
                <p><b>Winner</b>: {{ game.winner }}</p>
                <input type="hidden" id="status" name="status" value="{{ game.status }}">
        </div>
    </div>

{#    Script to Genereate 6x7 board #}
    <script type="text/javascript">
        var table = document.createElement("table");
        table.setAttribute('id', 'board')
        for (var i= 0; i<6; i++) {
            var tr = document.createElement('tr');
            for (var j = 0; j < 7; j++){
                var td = document.createElement('td');
                var button = document.createElement('button');
                button.setAttribute('class', 'btn');
                button.setAttribute('id', 'btn'+String(i)+String(j));
                button.setAttribute('data-row', String(i));
                button.setAttribute('data-col', String(j));
                td.appendChild(button);
                tr.appendChild(td)
            }
            table.appendChild(tr)
        }
        document.body.appendChild(table);
    </script>

    <div id="board">
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            var players = {{ player_turns }};
            var rows = {{ rows }};
            var cols = {{ cols }};
            var status = $("#status").val();
            var current_player = {{ request.user.id }};
            var first_player = {{ game.player1.id }};
            var colour = (current_player == first_player)? 'red' : 'yellow';
            {% if last_move %}
                var last_move_row = {{ last_move.row }};
                var last_move_col = {{ last_move.column }};
                var id = "btn" + last_move_row + last_move_col;
                var last_move = document.getElementById(id);
                last_move.style.cssText += 'border: 5px solid #2c3e50';
            {% endif %}
            prepareField();
            updateCurrentField(players, rows, cols, first_player);

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            $.ajaxSetup({
                headers: { "X-CSRFToken": getCookie("csrftoken") }
            });

            $("#board tr td button").click(function(e) {
                    e.preventDefault();
                    if (status!='Concluded'){
                        var col = $(this).data("col");
                        //var row = $(this).data("row");
                        //var column = Number($("#column").val());
                        var row = firstFreeRow(col);
                        if (row == -1) {
                            alert('You cannot put more coin in this column!');
                        } else {
                            var id = "btn"+row+col;
                            var button = document.getElementById(id);
{#                            button.style.cssText += 'background-color: ' + colour#}
                            if (checkForVictory(current_player, row, col)) {
                                alert('You win!');
                                status = "Concluded";
                            }
                            //alert('Posting coin move to server!');
                            $.post("/connect4/play/{{ game.id }}/", {row: row, column: col, status: status})
                                    .done(function (data) {
                                        window.location.reload(true);
                                    })
                                    .fail(function (xhr, status, error) {
                                        alert(xhr.responseText);
                                    });
                        }
                    } else {
                        alert('Game already finished!');
                    }
                })
        });
    </script>

{% endblock %}


{% block javascript %}
<script>
    {% if not request.user.is_authenticated %}
        $("#create-game-btn").hide();
        $("#user-account").hide();
    {% endif %}
</script>
{% endblock %}