{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% if request.user.is_authenticated %}
        <p class="bs-component">
            <center>
                <input class="btn btn-success btn-sm" onclick="location.href = '/connect4/games/';"type="submit" value="Back to Games Page" />
            </center>
        </p>
    {% endif %}
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading" style="font-weight: 700">You are in game #{{ game.id }}</div>
                {% if request.user.id == game.player1.id %}
                    <p><b>Your color</b>: <div class="circle_red"></div></p>
                {% else %}
                    <p><b>Your color</b>: <div class="circle_yellow"></div></p>
                {% endif %}

                <p><b>Players</b>: {{ game.player1.username }} vs. {{ game.player2.username }}</p>
                <p><b>Game status</b>: {{ game.status }}</p>
                <p><b>Winner</b>: {{ game.winner }}</p>
                <input type="hidden" id="status" name="status" value="{{ game.status }}">
        </div>
    </div>
    <script src = "{% static 'js/play.js' %}"></script>

    <div id="board">
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
        {#        Create a websocket#}
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var play_socket = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + window.location.pathname);
            play_socket.onmessage = function(message) {
                var last_move = JSON.parse(message.data);
                var row = last_move.row;
                var col = last_move.col;
                var status = last_move.status;
                var winner = last_move.winner;
                alert('New move');
            }
            var players = {{ player_turns }};
            var rows = {{ rows }};
            var cols = {{ cols }};
            var status = $("#status").val();
            var current_player = {{ request.user.id }};
            var first_player = {{ game.player1.id }};
            var colour = (current_player == first_player)? 'red' : 'yellow';
            var winner = ''
            {% if last_move %}
                var last_move_row = {{ last_move.row }};
                var last_move_col = {{ last_move.column }};
                var id = "btn" + last_move_row + last_move_col;
                var last_move = document.getElementById(id);
                last_move.style.cssText += 'border: 5px solid #2c3e50';
            {% endif %}
            prepareField();
            updateCurrentField(players, rows, cols, first_player);

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            $.ajaxSetup({
                headers: { "X-CSRFToken": getCookie("csrftoken") }
            });

            $("#board tr td button").click(function(e) {
                    e.preventDefault();
                    if (status!='Concluded'){
                        var col = $(this).data("col");
                        var row = firstFreeRow(col);
                        if (row == -1) {
                            alert('You cannot put more coin in this column!');
                        } else {
                            var id = "btn"+row+col;
                            var button = document.getElementById(id);
                            if (checkForVictory(current_player, row, col)) {
                                alert('You win!');
                                status = "Concluded";
                                winner = current_player;
                            }

                            var message = {
                                row: row,
                                col: col,
                                status: status,
                                winner: winner
                            }
                            play_socket.send(JSON.stringify(message));

                            //alert('Posting coin move to server!');
                            $.post("/connect4/play/{{ game.id }}/", {row: row, column: col, status: status})
                                    .done(function (data) {
                                        window.location.reload(true);
                                    })
                                    .fail(function (xhr, status, error) {
                                        alert(xhr.responseText);
                                    });
                        }
                    } else {
                        alert('Game already finished!');
                    }
                });

{#            Wire up a callback to fire when new data is received on the Websocket#}
{#            play_socket.onmessage = function(coin) {#}
{#                    var data = JSON.parse(coin.data);#}
{#                    alert(data)#}
{#                };#}
{#            Send data over the Websocket #}
{#            $('#board tr td button').click(function(e) {#}
{#                var col = $(this).data("col");#}
{#                var coin = {#}
{#                    col: col,#}
{#                    row: firstFreeRow(col)#}
{#                };#}
{#                play_socket.send(JSON.stringify(coin));#}
{#                return false;#}
{#            });#}
        });

{#        });#}
    </script>
{% endblock %}


{% block javascript %}
<script>
    {% if not request.user.is_authenticated %}
        $("#create-game-btn").hide();
        $("#user-account").hide();
    {% endif %}
</script>
{% endblock %}